{% extends 'base.html.twig' %}

{# Notez la version "abrégée" de la syntaxe block #}
{% block title 'Liste des vaches' %}

{% block body %}
    <h1>Liste des vaches</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Race</th>
                <th>Date de naissance</th>
                <th>Numéro de la bague</th>
                <th>Couleur</th>
                <th>Date d'ajout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cow in cows %}
            <tr>
                <td><a href="{{ path('cow_show', { 'id': cow.id }) }}">{{ cow.id }}</a></td>
                <td>{{ cow.name }}</td>
                <td>{{ cow.race }}</td>
                <td>{% if cow.birthdate %}{{ cow.birthdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cow.afscaid }}</td>
                <td>{{ cow.color }}</td>
                <td>{% if cow.datecreation %}{{ cow.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cow_show', { 'id': cow.id }) }}">voir</a>
                        </li>
                        <li>
                            <a href="{{ path('cow_edit', { 'id': cow.id }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_COW_CREATOR') %}
    <ul>
        <li>
            <a href="{{ path('cow_new') }}">Ajouter une nouvelle vache</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
