{% extends 'base.html.twig' %}

{# Notez la version "abrégée" de la syntaxe block #}
{% block title 'Nouvelle vache' %}

{% block body %}
    <h1>Bienvenue à notre nouvelle vache !</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('cow_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
