{% extends 'base.html.twig' %}

{% block title %}Notre vache "{{ cow.name }}"{% endblock %}

{% block body %}
    <h1>Notre vache "{{ cow.name }}"</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cow.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cow.name }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ cow.race }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{% if cow.birthdate %}{{ cow.birthdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numéro de la bague</th>
                <td>{{ cow.afscaid }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ cow.color }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{% if cow.datecreation %}{{ cow.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cow_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('cow_edit', { 'id': cow.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
