div#etable_content {
  margin: 1.5em;
}

# Mise en forme des messages flash
div.flash-messages > div {
  width: 70%;
  padding: 1.5em 2.5em;
  margin: 1.5em auto;
}

div.flash-message > div p {
  margin: 0;
}

