{% if last_cows|length == 0 %}
</p> Aucune nouvelle amie ne nous a rejoint dernièrement.</p>
{% else %}
<p>Nos {{ nb_last_cows }} dernières amies sont :</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Race</th>
        </tr>
    </thead>
    <tbody>
    {% for cow in last_cows %}
    <tr>
        <td><a href="{{ path('cow_show', { 'id': cow.id } ) }}">{{ cow.name }}</a></td>
        <td>{{ cow.race }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    
    {% if is_granted('ROLE_COW_CREATOR') %}
    <a href="{{ path('cow_new') }}" class="btn btn-primary">Accueillir une nouvelle</a>
    {% endif %}

{% endif %}    
